.image{
    width: 150px;
    height: 180px;
}

.characters_container{
    margin: 25px;
    margin-left: 25px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
}

.char_container{
    background-color: rgb(81, 80, 87);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    border-radius: 10px;
}

.fav_button{
    padding: 10px;    
}

.fav_button:active{
    color: rgb(206, 116, 56);
}

.image_container{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://wallpapercave.com/wp/CJVyY3G.jpg);
    height: fit-content;
}

/* ==========Media  Queries (medium devices) =============*/

@media screen and (max-width: 1024px) {
    .characters_container{
        margin: 20px;
        grid-template-columns: repeat(3,1fr);
    }
}

/* ==========Media  Queries (small devices) =============*/

@media screen and (max-width: 600px) {
    .characters_container{
        margin: 15px;
        grid-template-columns: repeat(2,1fr);
    }
}