.details_container{
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    color: white;
    background-image: url(https://wallpaperaccess.com/full/652207.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.screen2_main_container > h1{
    background-color: black;
}

.screen2_image{
    width: 400px;
    height: 500px;
    margin-left: 70px;
    margin-top: 60px;
    border-radius: 15px;
}

.films_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(100, 100, 98);
    padding: 15px;
    border-radius: 10px;
    margin-left: 70px;
}

/* ==========Media  Queries (medium devices) =============*/

@media screen and (max-width: 1024px) {
    .details_container{
        padding: 15px;
        gap: 2rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

/* ==========Media  Queries (small devices) =============*/

@media screen and (max-width: 600px) {
    .details_container{
        padding: 18px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: fit-content;
    }
    .screen2_image{
        width: 300px;
        height: 400px;
        margin-left: 10px;
    }

    .films_container{
        gap: 1rem;
        background-color: rgb(100, 100, 98);
        padding: 15px;
        margin-left: 10px;
    }

    .details_content{
        margin-left: 25px;
    }
}